.h0 {
    font-family: 'coch';
    font-size: 46px;
    line-height: 63px;
}
.h1 {
    font-family: 'coch';
    font-size: 40px;
    line-height: 50px;
}
.h5 {
    font-family: 'and';
    font-size: 17px;
    line-height: 19px;
}
a.h0 {
	display: block;
	color: inherit;
}
a.h0:hover {
	color: #FEFF30;
}
